# dependencies
node_modules
.pnp
.pnp.js

# build
.next
out
build
dist

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# next-sitemap (optional: keep generated sitemap in git if you want)
# public/sitemap.xml
# public/robots.txt
